<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>member list</title>

    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">

</head>
<body>
<h3>login user：<span th:text="${#authentication.name}"></span> | <a th:href="@{/logout}">logout</a></h3>
<h2>this is member list page</h2>
<table class="table">
    <tr>
        <th>name</th>
        <th>title</th>
        <th>intro</th>
        <th>create time</th>
        <th>ope</th>
    </tr>
    <tr>
        <td style="font-size: 20px;">1111</td>
        <td>2222</td>
        <td>3333</td>
        <td>2019-03-01</td>
        <td><a th:href="@{/member/detail}">detail</a> </td>
    </tr>
    <tr>
        <td style="font-size: 20px;">aaaa</td>
        <td>vvvv</td>
        <td>cccccc</td>
        <td>2019-03-02</td>
        <td><a th:href="@{/member/detail}">detail</a> </td>
    </tr>
    <tr>
        <td style="font-size: 20px;">yyyy</td>
        <td>jjjjj</td>
        <td>ggggg</td>
        <td>2019-03-03</td>
        <td><a th:href="@{/member/detail}">detail</a> </td>
    </tr>
</table>
</body>
</html>